Anatoli.Business.Common/bin/
Anatoli.Business.Common/obj/Debug/Anatoli.Common.Business.csprojResolveAssemblyReference.cache,Anatoli.Business.Common/obj/Debug/Anatoli.Common.Business.dll,Anatoli.Business.Common/obj/Debug/Anatoli.Common.Business.pdb
Anatoli.Business.Common/obj/
Anatoli.DataAccess.Common/bin/
Anatoli.DataAccess.Common/obj/
Anatoli.WebApi.Common/bin/
Anatoli.WebApi.Common/obj/
Anatoli.Common/bin/
Anatoli.Common/obj/
Anatoli.Common.ViewModel/bin/
Anatoli.Common.ViewModel/obj/
